/*
globals
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #222222;
  color: #cdcdcd;
  overflow: hidden;
}

.container {
  margin-top: 5rem;
  max-width: 90%;
}

/*
navbar
*/
.navbar {
  box-shadow: 0 1px 20px -1px black;
  background-color: #cdcdcd;
}

.navbar-custom h5 {
  color: black;
  transition: all ease 0.4s;
}
.navbar-custom h5:hover {
  color: #757575;
}

/*
login
*/
.logincontainer {
  height: 50vh;
}
.logincontainer .darkPlaceholder::placeholder {
  color: #cdcdcd;
  transition: color ease 0.4s;
}
.logincontainer .form-control {
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #cdcdcd;
  transition: border-bottom-color ease 0.5s;
  color: #cdcdcd;
}
.logincontainer .form-control:focus {
  background-color: transparent;
  border-radius: 0;
  border-color: transparent;
  border-bottom-color: #cdcdcd;
  box-shadow: none;
  color: #cdcdcd;
}
.logincontainer .form-control:focus::placeholder {
  color: transparent;
  transition: color ease 0.4s;
}
.logincontainer .inlog-form .btn {
  position: absolute;
  margin-top: 1rem;
  background: #555555;
  border: 2px solid transparent;
  transition: all ease 0.4s;
  right: 1rem;
}
.logincontainer .inlog-form .btn:hover {
  background: #222222;
  border: 2px solid #555555;
}

/*
toastr
*/
.container {
  max-width: 90%;
}

#toastr {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -25%);
  z-index: 10000;
  color: #e8e8e8;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-radius: 10px;
  padding: 5px;
  width: 30%;
  background: rgba(206, 1, 0, 0.8);
  text-align: center;
  transition: box-shadow ease 0.4s;
}
#toastr:hover {
  box-shadow: 0 0 11px 3px #555555;
  background: #ce0100;
}

.success {
  background: #136d0f !important;
}
.success:hover {
  box-shadow: 0 0 11px 3px #c6c6c6;
  background: #1fa80f !important;
}

.warning {
  background: #c68000 !important;
}
.warning:hover {
  box-shadow: 0 0 11px 3px #c6c6c6;
  background: #ce9d24 !important;
}

.hide {
  opacity: 0;
  transition: opacity ease-in-out 0.8s !important;
  pointer-events: none;
}

.show {
  opacity: 1;
  transition: opacity ease-in-out 0.8s !important;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid black;
}

thead, tbody, tr, td, th {
  display: block;
}

tr:after {
  content: " ";
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 30px;
  line-height: 30px;
  text-align: left;
}

tbody {
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}

thead, tbody {
  padding-left: 1rem;
}

tbody {
  border-top: 2px solid black;
}

tbody td, thead th {
  float: left;
}

tbody td:last-child, thead th:last-child {
  border-right: none;
}

#id {
  font-weight: bold;
}

.tb-w-10 {
  width: 10%;
}

.tb-w-15 {
  width: 15%;
}

.tb-w-20 {
  width: 20%;
}

.tb-w-25 {
  width: 25%;
}

.tb-w-30 {
  width: 30%;
}

.tb-w-33 {
  width: calc(100% / 3);
}

.tb-w-40 {
  width: 40%;
}

.tb-w-60 {
  width: 60%;
}

.tb-w-70 {
  width: 70%;
}

tr {
  cursor: default;
}

.highlight {
  background: #555555;
}

.danger {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: #ff3023;
}

.customPill {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  margin-bottom: 1rem;
}
.customPill li {
  background: #555555;
  width: calc(100% / 3);
  float: left;
  list-style: none;
  text-align: center;
  border-left: 1px black solid;
  border-right: 1px black solid;
  transition: all 0.4s ease;
}
.customPill li:hover {
  background-color: rgba(85, 85, 85, 0.6);
}
.customPill li:hover a:hover {
  color: #919191;
}
.customPill .active {
  background-color: rgba(85, 85, 85, 0.6);
  color: #919191;
}

.correctAnswer {
  color: #00ff0091;
}

.wrongAnswer {
  color: #ff1414bf;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff1414bf;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #cdcdcd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00ff0091;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00ff0091;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.klas-button {
  margin-bottom: 1rem;
}

.smallerTable {
  margin-bottom: 1rem;
}
.smallerTable tbody {
  height: 70vh;
}

.btn-margin {
  margin-top: calc(2rem - 0.5px);
}

.pageButton {
  width: 100%;
  line-height: 20vh;
  text-align: center;
  font-size: 2.5rem;
  background: rgba(85, 85, 85, 0.6);
  border: none;
}
.pageButton:hover {
  background: #555555;
}

.pageButtonRow {
  margin-bottom: 2rem;
}

/*# sourceMappingURL=style.css.map */
