@import "variables.scss";

/*
globals
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: $backgroundColor;
  color: $letterColor;

  overflow: hidden;
}

.container {
  margin-top: 5rem;
  max-width: 90%;
}

/*
navbar
*/
.navbar {
  box-shadow: 0 1px 20px -1px black;
  background-color: $letterColor;
}

.navbar-custom {
  h5 {
    color: black;
    transition: all ease 0.4s;

    &:hover {
      color: #757575;
    }
  }
}

/*
login
*/
.logincontainer {
  height: 50vh;

  .darkPlaceholder::placeholder {
    color: $letterColor;
    transition: color ease 0.4s;
  }

  .form-control {
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: $letterColor;
    transition: border-bottom-color ease 0.5s;
    color: $letterColor;

    &:focus {
      background-color: transparent;
      border-radius: 0;
      border-color: transparent;
      border-bottom-color: $letterColor;
      box-shadow: none;
      color: $letterColor;

      &::placeholder {
        color: transparent;
        transition: color ease 0.4s;
      }
    }
  }

  .inlog-form {
    .btn {
      position: absolute;
      margin-top: 1rem;
      background: $backgroundColorLight;
      border: 2px solid transparent;
      transition: all ease 0.4s;
      right: 1rem;

      &:hover {
        background: $backgroundColor;
        border: 2px solid $backgroundColorLight;
      }
    }
  }
}

/*
toastr
*/
.container {
  max-width: 90%;
}

#toastr {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -25%);
  z-index: 10000;
  color: #e8e8e8;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-radius: 10px;
  padding: 5px;
  width: 30%;
  background: rgba(206, 1, 0, 0.8);
  text-align: center;
  transition: box-shadow ease 0.4s;

  &:hover {
    box-shadow: 0 0 11px 3px $backgroundColorLight;
    background: #ce0100;
  }
}

.success {
  background: rgb(19, 109, 15) !important;

  &:hover {
    box-shadow: 0 0 11px 3px #c6c6c6;
    background: rgb(31, 168, 15) !important;
  }
}

.warning {
  background: rgb(198, 128, 0) !important;

  &:hover {
    box-shadow: 0 0 11px 3px #c6c6c6;
    background: rgb(206, 157, 36) !important;
  }
}

.hide {
  opacity: 0;
  transition: opacity ease-in-out 0.8s !important;
  pointer-events: none;
}

.show {
  opacity: 1;
  transition: opacity ease-in-out 0.8s !important;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid black;
}

thead, tbody, tr, td, th {
  display: block;
}

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 30px;
  line-height: 30px;
  text-align: left;
}

tbody {
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}

thead, tbody {
  padding-left: 1rem;
}

tbody {
  border-top: 2px solid black;
}

tbody td, thead th {
  float: left;
}

tbody td:last-child, thead th:last-child {
  border-right: none;
}

#id {
  font-weight: bold;
}

.tb-w-10 {
  width: 10%;
}

.tb-w-15 {
  width: 15%;
}

.tb-w-20 {
  width: 20%;
}

.tb-w-25 {
  width: 25%;
}

.tb-w-30 {
  width: 30%;
}

.tb-w-33 {
  width: calc(100% / 3);
}

.tb-w-40 {
  width: 40%;
}

.tb-w-60 {
  width: 60%;
}

.tb-w-70 {
  width: 70%;
}

tr {
  cursor: default;
}

.highlight {
  background: $backgroundColorLight;
}

.danger {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: #ff3023;
}

.customPill {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  margin-bottom: 1rem;

  li {
    background: $backgroundColorLight;
    width: calc(100% / 3);
    float: left;
    list-style: none;
    text-align: center;
    border-left: 1px black solid;
    border-right: 1px black solid;
    transition: all 0.4s ease;

    &:hover {
      background-color: $backgroundColorLightOpacity;

      a:hover {
        color: $letterColorDark;
      }
    }
  }

  .active {
    background-color: $backgroundColorLightOpacity;
    color: $letterColorDark;
  }
}

.correctAnswer {
  color: #00ff0091;

}

.wrongAnswer {
  color: #ff1414bf;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff1414bf;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $letterColor;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00ff0091;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00ff0091;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.klas-button {
  margin-bottom: 1rem;
}

.smallerTable {
  margin-bottom: 1rem;

  tbody {
    height: 70vh;
  }
}

.btn-margin {
  margin-top: calc(2rem - 0.5px);
}

.pageButton{
  width: 100%;
  line-height: 20vh;
  text-align: center;
  font-size: 2.5rem;
  background: $backgroundColorLightOpacity;
  border: none;
  &:hover{
    background: $backgroundColorLight;
  }
}

.pageButtonRow{
  margin-bottom: 2rem;
}
